body {
  background-color: rgb(1, 36, 71);
  color: rgb(232, 229, 229);
  font-family: "Courier New", Courier, monospace;
}
nav {
  margin: 10px;
}
a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  margin-left: 10px;
}
header {
  margin: 20px;
  margin-top: 40px;
}
.left {
  display: inline-block;
  width: 40%;
  padding: 50px 0;
  vertical-align: middle;
}
.right {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
.about {
  margin: auto;
  margin-left: 20px;
  width: 90%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.skills {
  margin-left: 20px;
}
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  text-align: center;
  margin: 20px;
}

ul {
  padding: 20px;
  margin: 20px;
  list-style-type: none;
  background-color: rgba(12, 125, 239, 0.1);
}
li {
  padding: 30px;
  margin: 15px;
  font-size: large;
  background-color: rgba(216, 221, 225, 0.3);
}
